@import "tailwindcss";

@layer base {
  * {
    box-sizing: border-box;
  }
  body {
    font-family: 'Inter', sans-serif;
    background-color: #FAFAFA;
    color: #1A1A1A;
    margin: 0;
  }
}

@layer utilities {
  .airtel-red { color: #E40000; }
  .bg-airtel-red { background-color: #E40000; }
  .border-airtel-red { border-color: #E40000; }
}
